<a href="https://colab.research.google.com/github/pwaila/scm/blob/master/case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
data=pd.read_excel("gdrive/My Drive/Supply chain/KEL944-XLS-ENG.xlsx",sheet_name='Data')

In [9]:
data.head()

               shift weekday shift type  ...    grade 5  grade rest        RTR
0  01.10.13 22:00:00     Tue          N  ...   8.823529   61.764706  92.708333
1  02.10.13 06:00:00     Wed          E  ...   0.000000   78.787879  70.000000
2  02.10.13 14:00:00     Wed          M  ...   0.000000   70.000000  96.041667
3  02.10.13 22:00:00     Wed          N  ...  12.500000   25.000000  82.291667
4  03.10.13 06:00:00     Thu          E  ...   5.555556   33.333333  88.750000

[5 rows x 24 columns]

In [0]:
da=data[['shift type','thickness 1','thickness 2','thickness 3']]

In [25]:
set(data['shift type'])

{'E', 'M', 'N'}

In [23]:
da[data['shift type']=='N'].mean

<bound method DataFrame.mean of     shift type  thickness 1  thickness 2  thickness 3
0            N           19           15            0
3            N            0           40            0
6            N            9           34            1
9            N           22           16            0
12           N            3           44            0
14           N           23            8            4
17           N            5           48            0
21           N           17           15            0
24           N           14           33            0
27           N           24            8            0
30           N           12           21            6
33           N           19           14            0
37           N           12           32            0
40           N            4            1            0
42           N           18            7            0
45           N            3           23           10
48           N           21           15            0
51           N           17           20            1
55           N            3           43            0
58           N           21           16            2
61           N           12           28            7
64           N            0           54            1
67           N            5           42           13
70           N            9           32            0
74           N           16           27            0
77           N           11           28            5
80           N           17           19            0
83           N            3           13            6
86           N            1           35           19
89           N           24           17            0
..         ...          ...          ...          ...
413          N            8           17           12
415          N            5           45            3
418          N            8           30            0
421          N            3           49            0
424          N           17           26            2
427          N            7           32            0
430          N            4           17           25
433          N            9           31            0
436          N            6           34            0
439          N            9           35            1
442          N            1           41            0
445          N            2           43            4
448          N            2           33           14
451          N            9           23           10
454          N            5           44            0
456          N            6           40            1
459          N           10           30            3
462          N           21            3            0
465          N           15           20            0
468          N           19           16            0
471          N            7           31            2
473          N            0           33            6
476          N           23            6            0
479          N           19           21            0
482          N            2           36            9
487          N            9           38            0
490          N           15           25            0
492          N            8           33            0
495          N           19           25            0
498          N            5           47            0

[170 rows x 4 columns]>

In [24]:
da[data['shift type']=='M'].mean

<bound method DataFrame.mean of     shift type  thickness 1  thickness 2  thickness 3
2            M           16           24            0
5            M           18           26            1
8            M           22           14            0
11           M           26            5            0
13           M           14           16            0
16           M            3           37            0
19           M           24            8            5
20           M            7           13            3
23           M            2           50            0
26           M           16            6           25
29           M            7           40            0
32           M           19           13            2
35           M           17           21            7
36           M            5           17           10
39           M           19            1            9
41           M           19            0            0
44           M           20            0           13
47           M           15           10            9
50           M           12            2           23
53           M            4           11           19
54           M           21            0            0
57           M           12           19            1
60           M           16           27            0
63           M           17           16            0
66           M            3           27            0
69           M            0           51            0
72           M            5           25           16
73           M            0            1           30
76           M            5            1            0
79           M            2           16            6
..         ...          ...          ...          ...
412          M           32            3            2
414          M            4            3           20
417          M           20           20            0
420          M            9           39            3
423          M            3           34            9
426          M           34            0            0
429          M            6            7           30
432          M            8           17           17
435          M           12           27            2
438          M           22           11            0
441          M           23           11            4
444          M           17           15            0
447          M            0           46            0
450          M            7           25           17
453          M            1           32            6
458          M           23            3            0
461          M           11           37            2
464          M           20            4           17
467          M           14           35            0
470          M            9           12           26
472          M            0            9            0
475          M           23            1            2
478          M            0           15           27
481          M           15           26            0
484          M           13           31            1
486          M            7           34            6
489          M           13           37            0
491          M            6            8            0
494          M           22           10            0
497          M            0            1           59

[174 rows x 4 columns]>

In [28]:
da[data['shift type']=='E'].mean

<bound method DataFrame.mean of     shift type  thickness 1  thickness 2  thickness 3
1            E           17            9            7
4            E           11           25            0
7            E            5           27            0
10           E           11           22            0
15           E            3           24            4
18           E            2           33            0
22           E           12           13           15
25           E           37           14            0
28           E            9           22            8
31           E           13           20            3
34           E           12           18            0
38           E           11           14            9
43           E            4           33            0
46           E            4           34            5
49           E            6           21            8
52           E           25           18            0
56           E           22            9            0
59           E            9           33            0
62           E           10           12           17
65           E            1           13            0
68           E            7           26           12
71           E           32           10            0
75           E           18           23            0
78           E            7           13            4
81           E           19           10            0
84           E            3           22           17
87           E            9           20           14
90           E            0           24            0
94           E           22            2            1
97           E           14            1           24
..         ...          ...          ...          ...
408          E           27            4            0
411          E            4           17            4
416          E            1           43            1
419          E            8           26            2
422          E            6           15            0
425          E           17            6           21
428          E            9           22            8
431          E           12           27            6
434          E            7           28            0
437          E           14           27            0
440          E           22            4            0
443          E           17           24            1
446          E            3           30           25
449          E            4           29            0
452          E            7           18            0
455          E           10           25            0
457          E            1           36            0
460          E            4           46            4
463          E           11            6            3
466          E            2           17           33
469          E           11           26            0
474          E            3           32            0
477          E           14           16            0
480          E           15           20            0
483          E            2           53            0
485          E           18           20            2
488          E           17           18           14
493          E           26            9            0
496          E            7           33            0
499          E            6           22            0

[156 rows x 4 columns]>

In [31]:
da[da['shift type']=='N'].describe()

       thickness 1  thickness 2  thickness 3
count   170.000000   170.000000   170.000000
mean     12.252941    24.282353     1.911765
std       7.869544    12.824820     4.119284
min       0.000000     0.000000     0.000000
25%       6.000000    15.000000     0.000000
50%      12.000000    25.000000     0.000000
75%      18.000000    33.000000     1.750000
max      34.000000    54.000000    25.000000

In [32]:
da[da['shift type']=='M'].describe()

       thickness 1  thickness 2  thickness 3
count   174.000000   174.000000   174.000000
mean     11.988506    17.356322     6.890805
std       7.924491    12.919920    10.229993
min       0.000000     0.000000     0.000000
25%       6.000000     8.000000     0.000000
50%      11.000000    16.000000     1.000000
75%      18.000000    25.750000    11.000000
max      34.000000    51.000000    59.000000

In [33]:
da[da['shift type']=='E'].describe()

       thickness 1  thickness 2  thickness 3
count   156.000000   156.000000   156.000000
mean     11.429487    18.756410     5.551282
std       7.623488    10.796279     9.160430
min       0.000000     0.000000     0.000000
25%       6.000000    10.750000     0.000000
50%      11.000000    18.000000     0.000000
75%      17.000000    26.000000     7.000000
max      37.000000    53.000000    42.000000